<div class="form-group row">
    <div class="col">
        <input class="btn form-control btn-danger" type="submit" value="Done" />
    </div>
    <div class="col">
        <partial name="_GoToIndexButtonPartial" />
    </div>
</div>